<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Essay prediction</title>
  </head>
  <body>
    <h2>Essay text prediction</h2>
    <form class="" action="index.html" method="post">
      <textarea name="name" rows="8" cols="80"></textarea>
      <button type="submit" name="button">Predict</button>
    </form>
    <p>/*Prediction*/</p>
  </body>
</html>
