<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <center>
      <p>Study<span>bird</span></p>
      <h1>Login</h1>
    <form class="" action="index.html" method="post">
      <p>Enter your username</p>
      <input type="text" name="" value="" placeholder="Username">
      <p>Enter your password</p>
      <input type="password" name="" value="" placeholder="Password">
      <button type="submit" name="button">Login</button>
      <p>Don't have an account? <a href="/signup">Sign Up!</a></p>
    </form>
  </center>
  </body>
</html>
