<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup</title>
  </head>
  <body>
    <center>
      <p>Study<span>bird</span></p>
      <h1>Signup</h1>
    <form class="" action="index.html" method="post">
      <p>Enter your username</p>
      <input type="text" name="" value="" placeholder="Username">
      <p>Enter your email</p>
      <input type="text" name="" value="" placeholder="Email">
      <p>Enter your schoolname</p>
      <input type="text" name="" value="" placeholder="School or College's name">
      <p>Enter your password</p>
      <input type="text" name="" value="" placeholder="Password">
      <p>Confirm your password</p>
      <input type="password" name="" value="" placeholder="Confirm Password">
      <button type="submit" name="button">Sign Up</button>
      <p>Already have an account? <a href="/login">Login!</a></p>
    </form>
  </center>
  </body>
</html>
